
HIConsole/.vs/HIConsole/v16/Server/sqlite3/db.lock
HIConsole/.vs/HIConsole/v16/Server/sqlite3/storage.ide
HIConsole/.vs/HIConsole/v16/Server/sqlite3/storage.ide-shm
HIConsole/.vs/HIConsole/v16/Server/sqlite3/storage.ide-wal
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.dll
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.exe
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.pdb
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.runtimeconfig.dev.json
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.runtimeconfig.json
HIConsole/HIConsole/bin/Debug/netcoreapp3.1/HIConsole.deps.json
HIConsole/.vs/HIConsole/v16/.suo
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.dll
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.exe
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.pdb
HIConsole/HIConsole/obj/HIConsole.csproj.nuget.g.targets
HIConsole/HIConsole/obj/HIConsole.csproj.nuget.dgspec.json
HIConsole/HIConsole/obj/HIConsole.csproj.nuget.cache
HIConsole/HIConsole/obj/HIConsole.csproj.nuget.g.props
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.csprojAssemblyReference.cache
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.csproj.FileListAbsolute.txt
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.assets.cache
HIConsole/HIConsole/obj/Debug/netcoreapp3.1/HIConsole.AssemblyInfoInputs.cache
HIConsole/HIConsole/obj/project.assets.json
